<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Employee</title>
</head>
<body>
    <table border="2">
        <thead>
            <th>Photo</th>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% for(var i=0; i<empData.length; i++){ %>
                <tr>
                    <td>
                        <a href=/emp/<%= empData[i].photo %>>
                            <img src="/images/<%= empData[i].photo %>" alt="" width="42" height="42">
                        </a>
                    </td>
                    <td><%= empData[i].eid %> </td>
                    <td><%= empData[i].name %> </td>
                    <td><%= empData[i].salary %></td>
                    <td><a href=/emp/edit/<%= empData[i].eid %>>Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>